.background {
    height: auto;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: #03080d;
    background-image: url('../image/background.jpg');
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.screenshotContainer {
    position: relative;
}

.screenshot {
    position: relative;
    display: block;
    width: 26.56rem;
    height: 49.25rem;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: #e9e4ff;
    transform: translateX(-50%) translateY(-50%);
    animation: wave 5s ease-in-out infinite;
}

.circle.second {
    animation-delay: 1s;
}

.circle.third {
    animation-delay: 3s;
}

@keyframes wave {
    0% {
        width: 13rem;
        height: 13rem;
        opacity: 0.3;
    }

    95% {
        width: 39.75rem;
        height: 39.75rem;
        opacity: 0;
    }

    100% {
        width: 13rem;
        height: 13rem;
        opacity: 0;
    }
}

.h5News {
    width: 29rem;
    height: 9.8rem;
    margin-left: -0.8rem;
    margin-top: -2.5rem;
}

.title {
    margin-top: 2.2rem;
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 1;
    width: 700px;
    max-width: 105%;
}

.subtitle {
    margin-top: 0.5rem;
    font-weight: normal;
    font-size: 2.81rem;
}

.downloadMethod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2rem;
    align-items: center;
    max-width: 612px;
    margin-top: 1rem;
}

.downloadMethod > * {
    margin-top: 1rem;
}

.downloadMethod .buttonImage {
    width: 17.5rem;
    height: 4.87rem;
}

.downloadMethod .h5Button {
    width: 17.5rem;
    height: 5.54rem;
}

.downloadButton{
    box-sizing: border-box;
    width: 17.5rem;
    height: 4.87rem;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: '25px';
    color:'white'
}

.localContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    margin-top: 1rem;
}

.tutorialContainer {
    display: flex;
    flex-direction: column;
}

.h5Tutorual {
    display: inline-block;
    margin-top: 0.2rem;
}

.h5TutorualImage {
    width: 17.5rem;
}

.qrcodeContainer {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    right: 0;
    margin-right: 1.81rem;
}

.qrcodeImage {
    width: 7.87rem;
    height: 7.87rem;
}

.qrcodeText {
    margin-top: 0.6rem;
    font-size: 1.25rem;
    width: 140px;
    text-align: center;
}

.language {
    position: absolute;
    right: 5%;
    top: 8%;
}

.buttonContainer {
    position: relative;
    display: inline-block;
}

.buttonTextContainer {
    position: absolute;
    top: 45%;
    left: 57%;
    width: 70%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.buttonSubtitleText {
    text-align: center;
    color: white;
}

.buttonTitleText {
    text-align: center;
    color: white;
    font-size: 16pt;
}

.buttonTutorialTextContainer {
    position: absolute;
    top: 45%;
    left: 56%;
    width: 90%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.buttonTutorialText_blue {
    text-align: center;
    color: #5cd3ff;
    font-size: 11pt;
}

.buttonTutorialText_green {
    text-align: center;
    color: #91f37a;
    font-size: 11pt;
}

.buttonText {
    text-align: center;
    width: 90%;
}

.buttonTextJP {
    text-align: center;
    line-height: 1;
    width: 90%;
}

.buttonIconContainer {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.buttonIcon {
    position: absolute;
    height: 60%;
    left: 5%;
    top: 20%;
}

.buttonIconText {
    position: absolute;
    top: 45%;
    left: 60%;
    width: 75%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.buttonIconTextJP {
    position: absolute;
    top: 45%;
    left: 60%;
    width: 65%;
    transform: translate(-50%, -50%);
    line-height: 1;
    z-index: 1;
}

.NewsContainer {
    position: relative;
    display: inline-block;
}

.NewsIcon {
    position: relative;
    left: -20px;
}

.NewsBoxTrailTitle {
    position: relative;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    width:fit-content;
    height: 30px;
    border: 3px white;
    border-style: solid;
    border-radius: 10px;
}

.NewsBoxTitle {
    position: relative;
    top: 10px;
    right: 10px;
    background-color: #ff8e20;
    z-index: 2;
    border-radius: 10px;
}

.NewsBoxTrail {
    position: relative;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    width:fit-content;
    border: 3px white;
    border-style: solid;
    border-radius: 10px;
}

.NewsTextContainerTitle {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    color: white;
    text-shadow: 2px 2px #03080dad;
    font-size: 18pt;
}

.NewsBox {
    position: relative;
    top: 10px;
    right: 10px;
    background-color: #ff8e20;
    z-index: 2;
    border-radius: 10px;
}

.NewsTextContainer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-shadow: 2px 2px #03080dad;
    font-size: 16pt;
    max-width: 600px;
}


@media screen and (max-width: 1400px) {
    .screenshotContainer {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 1.1rem;
    }

    .content {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 0 1rem;
    }

    .downloadMethod {
        width: 1200px;
    }
}

@media screen and (max-width: 800px) {

    .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .content {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        max-width: 100%;
    }

    .qrcodeContainer {
        display: none;
    }

    .buttonSubtitleText {
        text-align: center;
        color: white;
        font-size: 6pt;
    }
    
    .buttonTitleText {
        text-align: center;
        color: white;
        font-size: 9pt;
    }

    .buttonTutorialText_blue {
        font-size: 6pt;
    }

    .buttonTutorialText_green {
        font-size: 6pt;
    }

    .downloadMethod {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 2rem;
        align-items: center;
        max-width: 80%;
        margin-top: 1rem;
    }

    .infoContent {
        max-width: 100%;
    }

    .NewsTextContainerTitle {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 10pt;
    }

    .NewsTextContainer {
        font-size: 10pt;
    }


    @media screen and (max-width: 500px) {
        .downloadMethod {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            column-gap: 0.5rem;
            align-items: center;
            max-width: 100%;
            margin-top: 1rem;
        }
    }

}
